extends layout 

block content
    div.adminFormContainer
        form(method='post').adminForm
            label.adminLabel(for='adminCode') Enter "admin" below to become an admin
            input.adminInput(type='text', name='adminCode', required)
            p.adminErrorMessage #{errorMessage ? errorMessage : ''}
            button.adminSubmitButton(type='submit') Submit