extends layout

block content
  if currentUser
    div.gridContainer
      h1.messagesHeader Messages
      div.grid

  else
    div.gridContainer
      h1.messagesHeader Messages
      div.grid
        

