extends layout 

block content 
    div.joinTheClubContainer
        form(method='post').joinTheClubForm
            if title === 'Enter the secret code to join the club'
                label.secretCodeLabel(for='secretCode') #{title}
            else 
                label.invalidSecretMsg(for='secretCode') #{title}
            input.secretCodeInput(type='text', name='secretCode', required)
            button.secretCodeSubmitButton(type='submit') Submit
            p.secretCodeLink
                | You could find the secret code
                a.githubLink(href='https://github.com/efetekin5/members-only')  here