extends layout 

block content 
    div.joinTheClubContainer
        form(method='post').joinTheClubForm
            label.secretCodeLabel(for='secretCode') Enter the secret code to join the club
            input.secretCodeInput(type='text', name='secretCode', required)
            button.secretCodeSubmitButton(type='submit') Submit