doctype html
html(lang='en')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/global.css')
  body
    nav.header 
        ul.headerElements
          if user 
            li 
                a.membersOnly(href='/')
                    span.members Members
                    span.only Only
            li.logOutElement 
                button.logOut Log Out
          else
            li 
                a.membersOnly(href='/')
                    span.members Members
                    span.only Only
            li.logInElement 
                button.logIn Log In 
            li 
                a(href='/sign-up')
                  button.headerSignUp Sign Up

    block content