@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  padding: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;
  border: 0.1rem solid #e2e8f0;
}

.headerElements {
  display: flex;
  list-style: none;
}

.logInElement {
  margin-left: auto;
}

.members {
  color: rgb(99 102 241);
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.only {
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-weight: 500;
}

.headerLogIn {
  background-color: rgb(99 102 241);
  color: white;
  margin-right: 2rem;
  padding: 0.8rem;
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  border-radius: 0.5rem;
  width: 7rem;
  border: 0;
  margin-top: 0.4rem;
  cursor: pointer;
}

.headerSignUp {
  background-color: rgb(99 102 241);
  color: white;
  margin-right: 3rem;
  padding: 0.8rem;
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  border-radius: 0.5rem;
  width: 7rem;
  border: 0;
  margin-top: 0.4rem;
  cursor: pointer;
}

.logOut {
  background-color: rgb(99 102 241);
  color: white;
  margin-right: 3rem;
  padding: 0.8rem;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  border-radius: 0.5rem;
  width: 6rem;
  border: 0;
  margin-left: 1.5rem;
  cursor: pointer;
}

.formContainer,
.messageFormContainer {
  width: 100%;
  height: 84vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8fafc;
}

.form,
.newMessageForm {
  display: flex;
  flex-direction: column;
  border: 0.1rem solid #e2e8f0;
  padding: 2.7rem;
  row-gap: 1rem;
  width: 30%;
  background-color: white;
}

.signUpLabel,
.messageLabel {
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
}

.formSignUpButton,
.newMessageSubmitButton {
  background-color: rgb(99 102 241);
  color: white;
  padding: 0.8rem;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  border-radius: 0.5rem;
  width: 100%;
  border: 0;
  margin-top: 1rem;
  cursor: pointer;
}

.signUpInput,
.titleInput {
  padding: 0.4rem;
  border-radius: 0.5rem;
  border: 0.1rem solid #cbd5e1;
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
  outline: none;
}

.messageInput {
  padding: 0.4rem;
  height: 12rem;
  border-radius: 0.5rem;
  border: 0.1rem solid #cbd5e1;
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
  outline: none;
  overflow: auto;
  resize: none;
}

.membersOnly {
  text-decoration: none;
}

.membersOnly:visited {
  color: black;
}

.logInFormContainer {
  width: 100%;
  height: 84vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8fafc;
}

.logInForm {
  display: flex;
  flex-direction: column;
  border: 0.1rem solid #e2e8f0;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 3rem;
  width: 35%;
  background-color: white;
}

.logInButton {
  background-color: rgb(99 102 241);
  color: white;
  padding: 0.8rem;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  border-radius: 0.5rem;
  width: 100%;
  border: 0;
  margin-top: 3rem;
  cursor: pointer;
}

.logInLabel {
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
  margin-top: 2.3rem;
}

.logInInput {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 0.1rem solid #cbd5e1;
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
  outline: none;
}

.gridContainer {
  width: 100%;
  background-color: #f8fafc;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.newMessage {
  background-color: rgb(99 102 241);
  color: white;
  padding: 0.8rem;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  border-radius: 0.5rem;
  width: 100%;
  border: 0;
  cursor: pointer;
}

.newMessageItem {
  margin-left: auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
}

.messagesHeader {
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
}