@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  padding: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;
  border: 0.1rem solid #e2e8f0;
}

.headerElements {
  display: flex;
  list-style: none;
  column-gap: 1.2rem;
}

.logInElement {
  margin-left: auto;
}

.members {
  color: rgb(99 102 241);
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.only {
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-weight: 500;
}

.headerLogIn {
  background-color: rgb(99 102 241);
  color: white;
  padding: 0.8rem;
  font-size: 1.1rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  border-radius: 0.5rem;
  border: 0;
  margin-top: 0.4rem;
  cursor: pointer;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.headerSignUp {
  background-color: rgb(99 102 241);
  color: white;
  margin-right: 3rem;
  padding: 0.8rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  font-size: 1.1rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  border-radius: 0.5rem;
  border: 0;
  margin-top: 0.4rem;
  cursor: pointer;
}

.logOut {
  background-color: rgb(99 102 241);
  color: white;
  margin-right: 3rem;
  padding: 0.8rem;
  font-size: 1.1rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  border-radius: 0.5rem;
  border: 0;
  cursor: pointer;
}

.logOutElement {
  display: flex;
  align-items: center;
}

.formContainer,
.messageFormContainer {
  width: 100%;
  height: 84vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8fafc;
}

.form,
.newMessageForm {
  display: flex;
  flex-direction: column;
  border: 0.1rem solid #e2e8f0;
  padding: 2.7rem;
  row-gap: 1rem;
  width: 30%;
  background-color: white;
}

.signUpLabel,
.messageLabel {
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
}

.formSignUpButton,
.newMessageSubmitButton {
  background-color: rgb(99 102 241);
  color: white;
  padding: 0.8rem;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  border-radius: 0.5rem;
  width: 100%;
  border: 0;
  margin-top: 1rem;
  cursor: pointer;
}

.signUpInput,
.titleInput {
  padding: 0.4rem;
  border-radius: 0.5rem;
  border: 0.1rem solid #cbd5e1;
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
  outline: none;
}

.messageInput {
  padding: 0.4rem;
  height: 12rem;
  border-radius: 0.5rem;
  border: 0.1rem solid #cbd5e1;
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
  outline: none;
  overflow: auto;
  resize: none;
}

.membersOnly {
  text-decoration: none;
}

.membersOnly:visited {
  color: black;
}

.logInFormContainer {
  width: 100%;
  height: 84vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8fafc;
}

.logInForm {
  display: flex;
  flex-direction: column;
  border: 0.1rem solid #e2e8f0;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 3rem;
  width: 35%;
  background-color: white;
}

.logInButton {
  background-color: rgb(99 102 241);
  color: white;
  padding: 0.8rem;
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  border-radius: 0.5rem;
  font-weight: 500;
  border: 0;
  margin-top: 3rem;
  cursor: pointer;
}

.logInLabel {
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
  margin-top: 2.3rem;
}

.logInInput {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 0.1rem solid #cbd5e1;
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
  outline: none;
}

.messagesHeaderContainer {
  width: 100%;
  background-color: #f8fafc;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.newMessage {
  background-color: rgb(99 102 241);
  color: white;
  padding: 0.8rem;
  font-size: 1.1rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  border-radius: 0.5rem;
  width: 100%;
  border: 0;
  cursor: pointer;
}

.newMessageElement {
  display: flex;
  align-items: center;
}

.messagesHeader {
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
}

.messagesContainer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  row-gap: 3rem;
}

.messageContainer {
  width: 80%;
  border: 0.1rem solid #e2e8f0;
  padding: 1.5rem;
  box-shadow: 2px 3px  15px #d1d5db;
}

.messageTitle {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
}

.message {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  margin-bottom: 1rem;
}

.note {
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  margin-top: 1rem;
}

.writtenBy {
  margin-top: 0.7rem;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
}

.messageTime {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
}

.joinTheClub {
  background-color: rgb(99 102 241);
  color: white;
  padding: 0.8rem;
  font-size: 1.1rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  border-radius: 0.5rem;
  border: 0;
  cursor: pointer;
  margin-left: auto;
}

.joinTheClubElement {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.joinTheClubContainer {
  background-color: #f8fafc;
  height: 84vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.joinTheClubForm {
  border: 0.1rem solid #e2e8f0;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  row-gap: 2rem;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.secretCodeLabel {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 500;
}

.secretCodeInput {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  border-radius: 0.5rem;
  border: 0.1rem solid #cbd5e1;
  outline: none;
  padding: 0.5rem;
}

.secretCodeSubmitButton {
  background-color: rgb(99 102 241);
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  border: 0;
  border-radius: 0.5rem;
  width: 100%;
  padding: 0.3rem;
}

.invalidSecretMsg {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  color: red;
  margin-right: 1.5rem;
  margin-top: -0.5rem;
}

.divider {
  border: 0.01rem solid #e2e8f0;
}

.adminButton {
  background-color: rgb(99 102 241);
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0.8rem;
  border-radius: 0.5rem;
  border: 0;
  cursor: pointer;
}

.adminElement {
  display: flex;
  align-items: center;
  justify-content: center;
}

.adminFormContainer {
  width: 100%;
  background-color: #f8fafc;
  height: 84vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.adminForm {
  background-color: white;
  row-gap: 3rem;
  display: flex;
  flex-direction: column;
  border: 0.1rem solid #e2e8f0;
  padding: 3rem;
  width: 40%;
  align-items: center;
}

.adminLabel {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 500;
}

.adminInput {
  height: 4rem;
  outline: none;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  width: 100%;
  padding: 0.3rem;
  border: 0.1rem solid #cbd5e1;
}

.adminSubmitButton {
  background-color: rgb(99 102 241);
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  border: 0;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
}